<header class="header-container">

    <button class="menu-toggle" aria-label="Abrir menú" (click)="toggleMenu()">
        ☰
    </button>

    <div class="header-left">
        <a [routerLink]="logo_link" class="logo-link">
            <img [src]="logo_src" [alt]="logo_alt" class="header-logo">
        </a>
    </div>

    <div class="mobile-overlay" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>
    
    <div class="header-right" id="main-menu" [class.active]="isMenuOpen">
        <app-nav></app-nav>
    </div>
</header>