<div class="footer-socket">
    <div class="socket-container">
        <p>{{copyright}}</p>
        
        <nav class="socket-nav">
            <ul>
                <li><a href="{{link_privacidad}}">Privacidad</a></li>
                <li><a href="{{link_cookies}}">Cookies</a></li>
                <li><a href="{{link_legal}}">Legal</a></li>
            </ul>
        </nav>

        <div class="store-badges">
            <a href="{{appstore_link}}">
                <img src="{{appstore_img}}" alt="Descargar en App Store">
            </a>
            <a href="{{playstore_link}}">
                <img src="{{playstore_img}}" alt="Disponible en Google Play">
            </a>
        </div>
    </div>
</div>