<div class="footer-socket">
    <div class="socket-container">
        <p>Banco Imperium © 2026. Todos los derechos reservados.</p>
        
        <nav class="socket-nav">
            <ul>
                <li><a href="#">Privacidad</a></li>
                <li><a href="#">Cookies</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </nav>

        
        <div class="store-badges">
            <a href="#">
                <img src="images/apple_logo.png" alt="Descargar en App Store">
            </a>
            <a href="#">
                <img src="images/gp_logo.png" alt="Disponible en Google Play">
            </a>
        </div>
    </div>
</div>