<header class="header-profile">

  <div class="header-profile__left">
    <a href="index.html" class="header-profile__logo-link">
      <img src="images/logo.jfif" alt="Logo" class="header-profile__logo">
    </a>

    <div class="header-profile__user-info">
      <span class="header-profile__username">{{username}}</span>
      <span class="header-profile__account">{{accountnumber}}</span>
    </div>
  </div>

  <div class="header-profile__right">
    <a href="{{profilelink}}" class="header-profile__profile-link">
      <img src="{{profilesrc}}" alt="Perfil" class="header-profile__profile-icon">
    </a>
  </div>

</header>