<header class="header-container">

    <button class="menu-toggle" id="menu-toggle" aria-label="Abrir menú">
        ☰
    </button>

    <div class="header-left">
        <a href="index.html" class="logo-link">
            <img src="images/logo.jfif" alt="Logo del Banco" class="header-logo">
        </a>
    </div>

    <div class="mobile-overlay" id="mobile-overlay"></div>
    
    <div class="header-right" id="main-menu">
        <div xlu-include-file="templates/nav.html"></div>
    </div>
</header>